.category .active {
    color: $primary-400;
}

.page-item .btn {
    width: 40px;
    display: flex;
    justify-content: center;
    /* padding: 8px 15px; */
    border-radius: 0;
    font-weight: 400;
}

.page-item .active {
    font-weight: 500;
}

.page-item .active:hover {
    background-color: $neutral-100;
}

.page-item .active:active {
    background-color: $primary-300;
}